<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>332437971971-mtkj6pmimuiqsrpks7il70snk8lt81kd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.332437971971-mtkj6pmimuiqsrpks7il70snk8lt81kd</string>
	<key>API_KEY</key>
	<string>AIzaSyA5jPMO7_mwvm3dy7d8lT8QK8lf_yiA4fQ</string>
	<key>GCM_SENDER_ID</key>
	<string>332437971971</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myhealthmate</string>
	<key>PROJECT_ID</key>
	<string>myhealthmate-8dfab</string>
	<key>STORAGE_BUCKET</key>
	<string>myhealthmate-8dfab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:332437971971:ios:1e19f060d78d3aa2d55a36</string>
</dict>
</plist>